body{
    background-color: black;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

form, div{
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    margin: auto;
}

label{
    color: yellow;
    font-size: 20px;
}

input[type="text"], input[type="number"]{
    background-color: rgba(255, 255, 255, 40%);
    border-radius: 10px;
    border: 0px;
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 5px;
}

input[type="text"]::placeholder, input[type="number"]::placeholder{
    color: rgba(255, 255, 255, 50%);
}

pre{
    text-align: left !important;
}