body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}

body {
  background: linear-gradient(to left, #020024, #00d4ff);
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
