body {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

header,
footer {
  background-color: rgb(255, 166, 0);
  color: white;
  padding: 20px 0px;
}

footer {
  font-size: 22px;
}

header > h1 {
  margin: 0px;
  font-size: 50px;
}

main {
  padding: 20px;
}

.produto {
  border: 3px solid rgb(0, 255, 0);
  border-radius: 15px;
  width: 200px;
  cursor: pointer;
}

.produto > img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.produto > h2 {
  font-size: 28px;
}

.produto > h3 {
  font-size: 24px;
  color: red;
}

#produtos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#acoes {
  margin-bottom: 30px;
}

.iluminar {
  background-color: yellow;
  border: 3px solid red;
}

.hidden {
  display: none;
}

.highlight {
  background-color: yellow;
}

#nomes {
  list-style: none;
  padding: 0;
}
